/*ola-topZ*/
.ola-topZ{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}
@media screen and (max-width:500px){
	.ola-topZ{
		display: block !important;
	}
	.ola-topZ h3{
		margin-bottom: 15px !important;
		font-size: 15px !important;
	}
	.ola-topZ-2,
	.ola-topZ-2 input{
		width: 100% !important;
		margin-left: 0px !important;
	}
}
.ola-topZ-1 h3{
	font-size: 18px;
	font-weight: 500;
}
@media screen and (max-width:500px){
	.ola-topZ-1 h3{
		font-size: 16px !important;
	}
}
.ola-topZ-2{
	position: relative;
	width: auto;
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
}
.ola-topZ-2 input{
	position: relative;
	width: 270px;
	height: 43px;
	border:1px solid #D3D3D3;
	padding: 0px 10px;
	border-radius: 5px;
	padding-left: 41px;
	transition: all 0.3s ease-in-out;
}
.ola-topZ-2 input:focus{
	border-color: #000;
}
.ola-topZ-2 button{
	position: absolute;
	z-index: 10;
	width: 42px;
	height: 42px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	cursor: pointer;
}
.ola-topZ-2 button img{
	width: 20px;
}

/*notif-main*/
.notif-main{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.notif-box{
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 10px;
	border:1px solid #EDEDED;
	margin-top: 20px;
	overflow: hidden;
}
.notif-box:first-child{
	margin-top: 0px;
}

.instruc-profl-grid{
	position: relative;
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 20px;
}

.profl-img{
	position: relative;
	width: auto;
	height: auto;
	margin-right: 10px;
	z-index: 1;
}
.profl-img span{
	position: absolute;
	width: 13px;
	height: 13px;
	z-index: 10;
	bottom: 2px;
	right: 2px;
	background:#E5E5E5;
	border:2px solid #fff;
	border-radius: 50%;
}
.profl-img span.online{
	background: #1DD366;
	-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
	-moz-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.profl-img img{
	position: relative;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.profl-dlts{
	position: relative;
	width: 100%;
	height: auto;
}
.profl-dlts p{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 7px;
}

.profl-dlts span{
	position: relative;
	font-size: 12px;
	font-weight: 500;
	padding: 5px 10px;
	border-radius: 40px;
	background: #E9E6F9;
	color: #624BD8;
}

@media screen and (max-width:500px){
	.profl-dlts p{
		font-size: 14px !important;
	}
.profl-dlts span{
	font-size: 10px !important;
}
}

.not-kja{
	position: relative;
	width: 100%;
	height: auto;
	border-top: 1px solid #EDEDED;
	background: #ECF4FD;
	padding: 20px;
}
.not-kja p{
	display: block;
	margin-top: 10px;
	font-size: 15px !important;
}
@media screen and (max-width:500px){
	.not-kja p{
		font-size: 14px !important;
	}
}
.not-kja p:first-child{
	margin-top: 0px;
}